<nav class="navbar navbar-static-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"
      ><img src="/image/wisc.png" class="W-Icon" /><span>iscourse</span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Homepage <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Explore All Reviews <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Contact Us <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>