<%- include("partials/header"); %>

        <div class="row">
            <div class="col-lg-6">
                <img src="/image/badger.svg" class="badger-icon" />
            </div>
            <div class="col-lg-6">
                <p class="intro-message">Success as a badger</p>
                <form>
                <button type="button" class="sign-btn btn btn-outline-primary" onclick="window.location.href='/login';">
                    <i class="fas fa-sign-in-alt"></i> Sign In
                </button>
                <button type="button" class="sign-btn btn btn-outline-dark" onclick="window.location.href='/sign-up';">
                    <i class="fas fa-user-plus"></i> Sign Up
                </button>
                </form>
            </div>
        </div>
        <div class="row tripplet">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <i class="fas fa-balance-scale"></i>
              <p>Balance Courseload</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <i class="fas fa-users"></i>
              <p>Stay Connected</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <i class="fas fa-graduation-cap"></i>
              <p>Graduate With Success!</p>
            </div>
        </div>
    <%- include("partials/footer");%>

